@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Isaque Schuwarte Silva<br />
    Volta Redonda, RJ 27264-020<br />
    <abbr title="Phone">Phone Number:</abbr>
    (24) 98109-8990
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:Support@example.com">isaque_schuwarte@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">isaque_schuwarte@hotmail.com</a>
</address>
