@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="text" align="left">
        <img src="~/images/Perfil.jpg" alt="Isaque Schuwarte" /><b><i>Site for Personal Development</i></b>
    </h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using Bootstrap</li>
        </ul>
    </div>
</div>
